ErrorDocument 403 /internal/403.html
ErrorDocument 404 /internal/404.html

RewriteBase "/"

RewriteCond %{HTTP_HOST} !^edik\.ch$ [NC]
RewriteRule ^(.*)$ %{REQUEST_SCHEME}://edik.ch/$1 [R=301,L]

# Redirect old Wordpress URLs
RewriteCond %{query_STRING} ^(p=15)(.*)$
RewriteRule ^$ /posts/wie-ich-zum-bloggen-kam.html [R=301,QSD,L]
RewriteCond %{query_STRING} ^(p=304)(.*)$
RewriteRule ^$ /posts/mein-neuer-desktop.html [R=301,QSD,L]
RewriteCond %{query_STRING} ^(p=359)(.*)$
RewriteRule ^$ /posts/hack-the-burger-king.html [R=301,QSD,L]
RewriteCond %{query_STRING} ^(page_id=169)(.*)$
RewriteRule ^$ /about.html [R=301,QSD,L]
RewriteCond %{query_STRING} ^(page_id=9)(.*)$
RewriteRule ^$ /contact.html [R=301,QSD,L]
# Any other old URLs linked to stuff like tags, categories etc.
# Since the new site structures are much simpler, a redirect to / is okay.
# Nice side effect: the site does not allow query strings at all anymore
RewriteCond %{query_STRING} !^$
RewriteRule ^(.*)$ $1 [R=301,QSD,L]

# Redirect from classic post URLs to the simplified dateless URLs. In the
# first weeks after the migration to Jekyll the classic format was active..
Redirect permanent /2012/12/07 /posts
Redirect permanent /2013/04/16 /posts
Redirect permanent /2013/06/14 /posts

RewriteRule ^index\.html$ / [R=301,L]

AddOutputFilterByType DEFLATE text/plain text/html text/xml text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/rss+xml

AddDefaultCharset utf-8
AddCharset utf-8 html css xml txt

ExpiresActive on
ExpiresDefault A3600
ExpiresByType text/html A60
ExpiresByType text/plain A60
ExpiresByType text/xml A60
ExpiresByType application/xml A60
ExpiresByType application/rss+xml A60
